@import "tailwindcss";

@theme {
  --color-brand: var(--color-zinc-400);
}

:root {
  color-scheme: dark;
}

body {
  @apply bg-zinc-950 text-zinc-100 antialiased;
  font-family:
    "Inter",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    sans-serif;
}
